#root {
  height: 100%;
}

body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 1rem;
  margin: 0 auto;
}

.main {
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  background: none;
  border: 1px solid #47b6e2;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.btn-small {
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: none;
  margin: 0 1rem;
  cursor: pointer;
}

.btn-cyan {
  border: 1px solid cyan;
}

.game-start {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.game-start input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 0.5rem;
}

.game-start button {
  padding: 1rem 2rem;
  cursor: pointer;
}

.table {
  width: 100%;
  margin: 1rem auto;
}

table,
th,
td {
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #0d2231;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #0d2231;
}

.person-score {
  border: 2px solid red;
  padding: 1rem;
}
